<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-in2contact" >
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.gender" />
		</td>
		<td>
		{contact.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.title" />
		</td>
		<td>
		{contact.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.first_name" />
		</td>
		<td>
		{contact.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.last_name" />
		</td>
		<td>
		{contact.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.company" />
		</td>
		<td>
		{contact.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.phone" />
		</td>
		<td>
		{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.fax" />
		</td>
		<td>
		{contact.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.link" />
		</td>
		<td>
		{contact.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.description" />
		</td>
		<td>
		{contact.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.date_of_birth" />
		</td>
		<td>
		{contact.dateOfBirth -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.image" />
		</td>
		<td>
				<f:image src="{contact.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2contact_domain_model_contact.attachments" />
		</td>
		<td>
				<a href="{contact.attachments.originalResource.publicUrl}">
					{contact.attachments.originalResource.name}
				</a>
		</td>
	</tr>
</table>
</html>